.question-title{
  justify-content: center;
  margin-top: 70px;
  font-size: 22px;
  margin-bottom: 20px;
}

.input-font{
  font-weight: 700;
  font-size: 20px;
  color: black
}


.icon-b{
  color: #bfb25f;

}

.tab-b{
  background-color: black;
}
