<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pregunta</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-header  collapse="condense">
    <ion-toolbar class="question-number">
      <ion-title size="large">Pregunta {{questionNumber}}</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="contenedor-preguntas">
  <ion-grid class="ion-text-center">
    <ion-row class="question-title">
        <ion-col size="12">
          <div class="question">
            {{questiontitle}}
          </div>
        </ion-col>
    </ion-row>
    <form [formGroup] = "formSendAnswer" (ngSubmit)="sendAnswer()" class="setclsoutput">
    <ion-row>
      <ion-col size="6">
        <ion-input class="input-font" placeholder="_" formControlName="answer" type="text">Respuesta</ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-button type="submit" color="warning" size="large">Enviar</ion-button>
    </ion-col>
  </ion-row>
    </form>
  </ion-grid>

</ion-content>

<! –– Ponemos iontoolbar porque los ion tabs no dejan meter otras funcionalidades y si hacemos eso, ya podemos poner otros botones activos ––>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button class="tab-b">
        <ion-icon class="icon-b" name="home" [routerLink]="['/home']"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button >
      <ion-tab-button class="tab-b"(click)="help()" >
        <ion-icon class="icon-b" name="help"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-tab-button>

      <ion-tab-button class="tab-b" (click)="next()">
        <ion-icon class="icon-b" name="arrow-forward" ></ion-icon>
        <ion-label>Siguiente</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>


