
<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
        <ion-col size="12">
          <img src="../../assets/img/logopendiente.png" width="80%">
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button color="secondary" size="large" (click)="start()">Inicio</ion-button>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button color="secondary" size="large" (click)="continue()">Continuar</ion-button>
    </ion-col>
  </ion-row>
  
  </ion-grid>

</ion-content>
